<!DOCTYPE html>
<html lang="fr">
formulaire de déconection
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <p>
         Bienvenue  <strong><%= user.username %></strong>
         <a href="/signout" title="déconexion">sign out</a>
      </p>
   </body>
</html>