<!DOCTYPE html>
<html lang="fr">
   <head>
      <title><%= title %></title>
   </head>
   <body>
   <! formulaire de conection > 
      <h2>S'identifier</h2>
      <form method="post" action="/signin">
		 
         <% if(typeof(errorMessage) !== 'undefined') {%>
            <span><%= errorMessage %></span>
         <% } %>
         <p>
            <label for="username">pseudo</label>
            <input type="text" name="username" id="username"
               placeholder="pseudo" required="true"/>
         </p>
         <p>
            <label for="password">mot de passe</label>
            <input type="text" name="password" id="password"
               placeholder="mot de passe" required="true"/>
         </p>
         <p>
            <input type="submit" name="signin" id="signin" value="connexion"/> 
            <a href="/signup" title="register">S'inscrire</a>
         </p>
			
      </form>
   </body>
</html>